In [3]:
import pandas as pd

In [4]:
movies = pd.read_csv('TMDB_movie_dataset_v11.csv')

In [5]:
movies

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1141334,735373,Fire! Hendrix,0.000,0,Released,NaN,0,3,False,NaN,...,Fire! Hendrix,"Commissioned by VideoGram International, Ltd.,...",0.600,/6acWQXpPmqL4Gs2gYmiRjMU7SzD.jpg,NaN,NaN,NaN,NaN,NaN,NaN
1141335,735374,Audionomie,0.000,0,Released,2021-11-18,0,18,False,/a6Gzm1uvVIjPOJU2KNAlcrK9rWB.jpg,...,Audionomie,Lo√Øc is alone in the anechoic room. What had h...,0.600,/lPsfrg27I1jLWksUKmEhZCwMHgS.jpg,NaN,Horror,NaN,NaN,French,short film
1141336,735375,Pleasure Fix,0.000,0,Released,2020-02-25,0,114,True,/ebiuWKbwFEa5ogcQa0UXKE9Er8F.jpg,...,Pleasure Fix,"""I like how you lick my pussy but..."" ""Can we...",0.600,/xffoMKw39ywfsdWdb1L2mbwDEGS.jpg,NaN,NaN,JoyBear Pictures,NaN,English,erotic vignettes
1141337,735377,Mambo Man,0.000,0,Released,2020-09-11,0,82,False,/egofBHwbOQb559VTCEGyR4fAvkj.jpg,...,Mambo Man,"Desperate to support his family and crops, a C...",0.620,/i8I90j13FT4c26yQUppn5jfGWd7.jpg,NaN,Drama,NaN,"Cuba, United Kingdom",Spanish,NaN
1141338,1396654,Cock Time,0.000,0,Released,2024-10-17,0,79,True,NaN,...,Cock Time,"After a night of dancing, Drew Dixon is ready ...",0.000,/wgAfYbATt4BvSt5hVuS1VEeyHby.jpg,NaN,NaN,Bareback Cum Pigs,United States of America,NaN,"tattoo, anal sex, rimming, bareback, oral sex,..."

In [6]:
new_data = movies[['imdb_id', 'title', 'genres', 'keywords']]

In [7]:
new_data

,imdb_id,title,genres,keywords
0,tt1375666,Inception,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,tt0816692,Interstellar,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,tt0468569,The Dark Knight,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,tt0499549,Avatar,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,tt0848228,The Avengers,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."
...,...,...,...,...
1141334,NaN,Fire! Hendrix,NaN,NaN
1141335,tt12036232,Audionomie,Horror,short film
1141336,tt14549914,Pleasure Fix,NaN,erotic vignettes
1141337,tt12600214,Mambo Man,Drama,NaN
1141338,NaN,Cock Time,NaN,"tattoo, anal sex, rimming, bareback, oral sex,..."

In [8]:
new_data.isnull().sum()

imdb_id     537478
title           13
genres      458138
keywords    832675
dtype: int64

In [9]:
new_data = new_data.dropna(subset=['imdb_id'])

In [10]:
new_data['genres'] = new_data['genres'].fillna('Undefined')
new_data['keywords'] = new_data['keywords'].fillna('Undefined')

C:\Users\rahul\AppData\Local\Temp\ipykernel_18720\1884549201.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['genres'] = new_data['genres'].fillna('Undefined')
C:\Users\rahul\AppData\Local\Temp\ipykernel_18720\1884549201.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_data['keywords'] = new_data['keywords'].fillna('Undefined')

In [11]:
movies.columns

Index(['id', 'title', 'vote_average', 'vote_count', 'status', 'release_date',
       'revenue', 'runtime', 'adult', 'backdrop_path', 'budget', 'homepage',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'tagline', 'genres',
       'production_companies', 'production_countries', 'spoken_languages',
       'keywords'],
      dtype='object')

In [12]:
ratings = movies[['imdb_id', 'vote_average']]

In [13]:
ratings.insert(0, 'userId', '')

In [14]:
ratings

        userId     imdb_id  vote_average
0                tt1375666         8.364
1                tt0816692         8.417
2                tt0468569         8.512
3                tt0499549         7.573
4                tt0848228         7.710
...        ...         ...           ...
1141334                NaN         0.000
1141335         tt12036232         0.000
1141336         tt14549914         0.000
1141337         tt12600214         0.000
1141338                NaN         0.000

[1141339 rows x 3 columns]

In [15]:
ratings = ratings.dropna(subset=['imdb_id'])

In [16]:
import numpy as np

# Generate random user IDs between 1 and 1000 for all rows
np.random.seed(42)  # for reproducibility
ratings['userId'] = np.random.randint(1, 1001, size=len(ratings))

C:\Users\rahul\AppData\Local\Temp\ipykernel_18720\1796644822.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ratings['userId'] = np.random.randint(1, 1001, size=len(ratings))

In [17]:
ratings.isnull().sum()

userId          0
imdb_id         0
vote_average    0
dtype: int64

In [18]:
new_data = new_data.rename(columns={'imdb_id': 'movieId'})
ratings = ratings.rename(columns={'imdb_id': 'movieId'})

In [23]:
new_data.head()

,movieId,title,genres,keywords
0,tt1375666,Inception,"Action, Science Fiction, Adventure","rescue, mission, dream, airplane, paris, franc..."
1,tt0816692,Interstellar,"Adventure, Drama, Science Fiction","rescue, future, spacecraft, race against time,..."
2,tt0468569,The Dark Knight,"Drama, Action, Crime, Thriller","joker, sadism, chaos, secret identity, crime f..."
3,tt0499549,Avatar,"Action, Adventure, Fantasy, Science Fiction","future, society, culture clash, space travel, ..."
4,tt0848228,The Avengers,"Science Fiction, Action, Adventure","new york city, superhero, shield, based on com..."

In [20]:
new_data_sample = new_data.sample(n=20000, random_state=42)
ratings_sample = ratings.sample(n=20000, random_state=42)

In [21]:
new_data_sample

,movieId,title,genres,keywords
878076,tt0892272,Casino: The Story,Documentary,Undefined
679554,tt21382166,Mirada,Undefined,Undefined
583914,tt31823556,Stick-Up,Undefined,Undefined
784263,tt7725546,Contingencies,Drama,"love triangle, love at first sight, sexuality,..."
62657,tt3733618,Trace,Horror,"suicide, demon, evp"
...,...,...,...,...
100062,tt7745044,Homo Novus,"Comedy, Romance","based on novel or book, artists' life, 1930s"
777660,tt3240226,Cin√© regards: Jacques Tati,Documentary,"movie business, interview"
31840,tt1359421,The Wedding Photographer,"Drama, Romance, Comedy",countryside
33268,tt0067467,Red Psalm,"Drama, War, Music","peasant, musical, revolt"
134343,tt6255780,The Little Cars 2: Rodopolis Adventures,"Family, Animation, TV Movie","video brinquedo, the little cars"

In [24]:
new_data.to_csv('movies.csv', index=False)
ratings.to_csv('ratings.csv', index=False)